<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STF GAMES: El escape de los patitos de hule</title>
</head>
<body>
<form method="POST" action="/VistaPrincipal">
  <label>Número de filas:</label>
  <input type="text" name="filas" /></br>
  <label>Número de colummas:</label>
  <input type="text" name="columnas" /></br>
  <label>Posiciones Iniciales:</label>
  <input type="text" name="posiciones" /></br>
  <label>Número de fotos tomadass:</label>
  <input type="text" name="fotos" /></br>
</form>

</body>
</html>